body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background: url(../images/Header_background.png) no-repeat bottom center scroll;
  background-color: #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text {
  h1 {
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 4.200em;
    font-weight: 700;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 1);
    margin-bottom: 0;
    word-spacing: 20px;
  }
  h2 {
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 2.6em;
    font-weight: 600;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
    margin-top: 5px;
    margin-bottom: 25px;
  }
  p {
    color: #f4f4f4;
    font-size: 3.000em;
    font-weight: 600;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    margin-bottom: -5px;
  }
  .logo-image {
    width: 100px;
    position: relative;
    bottom: -50px;
  }
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #b21104;
}

.navbar-shrink .navbar-nav > li > a:focus{
  color: #1b2024!important;
}

.navbar-default .navbar-nav > li > a:focus{
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}

li.page-scroll a {
  transition: color 0.4s, background-color 0.4s;
}

li.page-scroll a:after {
  display: block;
  content: attr(title);
  font-weight: 600;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

li.page-scroll a:hover {
  color: #ffffff !important;
  background-color: #b21104 !important;
  font-weight: 600;
}

.navbar-nav:focus {
  color: #f4f4f4 !important;
}

.navbar-default .navbar-nav > .active > a:focus{
  color: #f4f4f4 !important;
}

.navbar-nav:visited {
  color: #f4f4f4 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: #b21104;
  font-weight: 600;
}

.navbar {
  min-height: 43px !important;
  padding: 0 !important;
}

.nav > li {
  padding: 0 30px;
}

.nav > li > a {
  padding: 10px 10px !important;
  font-size: 18px;
  font-weight: 200;
}

.agreement {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
}

#contact form {
  padding-right: 15%;
}

#contact form label {
  font-size: 1.000em;
  font-weight: 200;
  color: #f4f4f4;

  padding-top: 0;
  text-align: left;
  padding-bottom: 5px;
}

#contact form input {
  border-radius: 0;
  background-color: #c4c4c4;
  height: 40px;

}

#contact form textarea {
  border-radius: 0;
  background-color: #c4c4c4;
}

#contact form #submit {
  background-color: #b21104;
  color: #f4f4f4;
  text-transform: uppercase;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 1.000em;
  margin-top: 15px;
  border: 2px solid #000;
}

#contact form #submit:hover {
  background-color: #4196af;
  color: #ffffff;
}

#contact form .checkbox-label {
  font-size: 0.8em;
  line-height: 10px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #4196af;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  header .intro-text .name {
    font-size: 4.75em;
  }

  header .intro-text .skills {
    font-size: 1.75em;
  }
}

@media (max-width: 767px) {
  .navbar-default {
    background-color: #b21104;
    border-color: transparent;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  .navbar-fixed-top {
    padding: 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
    background: #fff;
    color: #000;
    border-bottom: 1px solid #1b2024;
    height: 40px;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    li {
      a {
        color: #1b2024;
      }
    }
  }

  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

#about {
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    font-size: 3.750em;
    text-transform: uppercase;
    font-weight: 600;
    color: #1b2024;
    margin-bottom: 40px;
    &:after {
      content: url('../images/Main_button.png');
    }
  }
  p {
    font-size: 1.000em;
    font-weight: 200;
    color: #1b2024;
    width: 60%;
    margin: 0 auto;
  }
}

#about2 {
  background-color: #F4F4F4;
  background-image: url(../images/meet.png);
  background-position: right;
  background-repeat: repeat-y;
  background-size: 56% auto;
  .left {
    background-color: #F4F4F4;
    h3 {
      font-size: 1.500em;
      text-transform: uppercase;
      font-weight: 600;
      color: #1b2024;
      margin-bottom: 40px;
      margin-top: 50px;
    }
    p {
      font-size: 1.000em;
      font-weight: 200;
      color: #1b2024;

    }
    .signature {
      padding-right: 10%;
    }
  }
  .right {
    margin-bottom: 50px;
    h3 {
      font-size: 1.500em;
      text-transform: uppercase;
      font-weight: 600;
      color: #f4f4f4;
      margin-bottom: 10px;
      margin-top: 50px;

    }
    p {
      font-size: 1.000em;
      font-weight: 200;
      color: #f4f4f4;

    }

  }
}

#offer {
  padding-top: 90px;
  padding-bottom: 90px;
  h2 {
    font-size: 3.750em;
    text-transform: uppercase;
    font-weight: 600;
    color: #1b2024;
    margin-bottom: 40px;
    &:after {
      content: url('../images/Main_button.png');
    }
  }
  p {
    font-size: 1.000em;
    font-weight: 200;
    color: #1b2024;
    width: 60%;
    margin: 0 auto;
  }
  .offer-items-holder {
    padding-top: 90px;
    h4 {
      text-transform: uppercase;
      color: #1d2022;
      font-weight: 600;

    }
    p {
      font-size: 1.000em;
      font-weight: 200;
      color: #1b2024;
      width: 90%;
      float: left;
    }
    .min-height-190 {
      min-height: 190px;
    }
    .min-height-140 {
      min-height: 140px;
    }
    .min-height-240 {
      min-height: 240px;
    }
    .min-height-300 {
      min-height: 300px;
    }
    .item {
      padding: 20px 30px;
      margin-bottom: 20px;
    }
    .back-normal {
      background: #f4f4f4;
    }
    .back-image {
      background-image: url(../images/meet.png);
    }
  }
}

#baner {
  background-image: url(../images/Main_banner.png);
  background-size: cover;
  padding: 65px 0;
  p {
    font-size: 1.570em;
    font-weight: 600;
    color: #f4f4f4;
    text-shadow: 3px 2px 0px #000000;
    margin-bottom: 0;
    line-height: 35px;
  }
}

.cookie {

  color: #54676e!important;
  font-weight: 300!important;
  font-size: 11px!important;
  padding-top: 70px;
  a{
    float: right!important;
    padding-left: 5px;
    color: #54676e!important;
    font-weight: 300!important;
    font-size: 11px!important;
    width: auto!important;
  }
}

#contact {
  background: #1d2022;
  margin-top: 160px;

  h3 {
    font-size: 1.500em;
    font-weight: 200;
    color: #f4f4f4;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.000em;
    font-weight: 200;
    color: #f4f4f4;
    margin-bottom: 3px;
  }
  a {
    font-size: 1.000em;
    font-weight: 200;
    color: #f4f4f4;
    width: 100%;
    float: left;
    margin-bottom: 3px;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      font-size: 1.000em;
      font-weight: 300;
      color: #f4f4f4;
    }
    &:active {
      font-size: 1.000em;
      font-weight: 300;
      color: #f4f4f4;
    }
  }
}

.display-flex {
  display: flex;
}

.align-strech {
  align-items: stretch;
}

.padding-0 {
  padding: 0;
}

.padding-t-30 {
  padding-top: 30px;
}

iframe{
  pointer-events: none;
}

@media (max-width: 1100px) {
  header .intro-text {
    h1 {
      font-size: 3.200em;
      word-spacing: 20px;
    }
    h2 {
      font-size: 1.6em;
      margin-bottom: 25px;
    }
    p {
      color: #f4f4f4;
      font-size: 2.000em;
      margin-bottom: -5px;
    }
    .logo-image {
      width: 100px;
      position: relative;
      bottom: -50px;
    }
    .header-line {
      width: 60%;
    }
  }
}

@media (max-width: 770px) {
  .display-flex {
    display: block;
  }

  #about2 {
    background-size: 100% auto;
  }

  header .intro-text {
    h1 {
      font-size: 2.800em;
      word-spacing: 20px;
    }
    h2 {
      font-size: 1.5em;
      margin-bottom: 25px;
    }
    p {
      color: #f4f4f4;
      font-size: 1.7em;
      margin-bottom: -5px;
    }
    .logo-image {
      width: 70px;
      position: relative;
      bottom: -50px;
    }
  }
}

@media (max-width: 650px) {
  header .intro-text {

    h1 {
      font-size: 2.300em;
      word-spacing: 20px;
      margin-top: 10px;
    }
    h2 {
      font-size: 1.3em;
      margin-bottom: 25px;
    }
    p {
      font-size: 1.5em;
      margin-bottom: -5px;
    }
    .logo-image {
      width: 70px;
      position: relative;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 550px) {
  header .intro-text {

    h1 {
      font-size: 1.750em;
      word-spacing: 20px;
      margin-top: 10px;
    }
    h2 {
      font-size: 1em;
      margin-bottom: 25px;
    }
    p {
      font-size: 1.2em;
      margin-bottom: -5px;
    }
    .logo-image {
      width: 70px;
      position: relative;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}